.home .presentation {
	width: 60%;
	/* filter: drop-shadow(0 0 150px #ffffff);
	-webkit-filter: drop-shadow(0 0 150px #ffffff);
	-moz-filter: drop-shadow(0 0 150px #ffffff);
	-o-filter: drop-shadow(0 0 150px #ffffff);
	-ms-filter: drop-shadow(0 0 150px #ffffff); */
}

.home .presentation p {
	color: var(--accent-color);
}

.home .presentation h1 {
	line-height: 2;
}

.home .presentation h2 {
	color: var(--text-light);
	margin-bottom: 20px;
	font-family: var(--secondary-font);
}

.home .presentation div {
	line-height: 1.5;
	text-align: justify;
}

.home .tagline {
	margin-bottom: 20px;
}

.home button {
	margin-top: 50px;
	background-color: var(--accent-color-opacity);
	transition: var(--transition);
	font-size: 18px;
}

.home img {
	position: absolute;
	width: 250px;
	bottom: 50px;
	right: 150px;
	transform: rotate(30deg);
	filter: drop-shadow(0 0 2px #ffffff) drop-shadow(0 0 10px #ffffff);
	-webkit-filter: drop-shadow(0 0 2px #ffffff) drop-shadow(0 0 10px #ffffff);
	-moz-filter: drop-shadow(0 0 2px #ffffff) drop-shadow(0 0 10px #ffffff);
	-o-filter: drop-shadow(0 0 2px #ffffff) drop-shadow(0 0 10px #ffffff);
	-ms-filter: drop-shadow(0 0 2px #ffffff) drop-shadow(0 0 10px #ffffff);
	-webkit-appearance: none;
}

@media screen and (max-width: 1100px) {
	.home {
		margin-bottom: 20px;
	}

	.home .presentation {
		width: 100%;
	}

	.home button {
		margin-top: 20px;
		background-color: var(--accent-color-opacity);
		transition: var(--transition);
		font-size: 18px;
	}
}

@media screen and (max-width: 700px) {
	.home {
		padding: 125px 75px 0 75px !important;
	}

	.home .presentation div {
		line-height: 2;
	}
}

@media screen and (max-width: 600px) {
	.home {
		padding: 125px 25px 0 25px !important;
	}
}
